body {
background-image: url('../image/pexels-maksim-goncharenok-5046350-min.jpg');
background-size: cover;
background-repeat: no-repeat;
}

form.js-search {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  text-align: center;
  margin-top: 50vh; 
  transform: translateY(-50%);
}

.js-form-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(0, 89, 255);
  font-weight: bold;
}

input::placeholder {
color: rgb(123, 164, 226);
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid rgb(49, 225, 22);
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(241, 131, 90);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  list-style: none;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px rgba(186, 88, 88, 0.2);

  width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

.temp {
  font-weight: bold;
  color: #f00;
}